[2018-04-23 21:20] pine3ree opened #6 "incompatibile base rate"
Hello,
1st things 1st: thanks!

There are a few currencies that are not reliable because of their distance from the EUR value. For instance the Indonesian Rupiah

https://exchangeratesapi.io/api/latest?base=IDR

so, while it makes sense to convert EUR to IDR (*17059.77), the inverse is not true (should be ~ 0,000059, but the api is limited to 4 decimals)

kind regards

[2018-04-25 06:37] ThunderbyteComputer opened #9 "Single "symbol" not working"
If only a single "symbol" is given, there is an error:

Working (two symbols):

https://exchangeratesapi.io/api/latest?base=USD&symbols=CHF,USD

Giving Error (single symbol):
https://exchangeratesapi.io/api/latest?base=USD&symbols=CHF

[2018-04-26 08:57] madisvain commented on #6
@pine3ree thanks for this report - I will take a look and push a fix for this within a few days. By the end of this week for sure.

[2018-04-26 10:45] pine3ree commented on #6
Thanks, @madisvain
No rush here....I mostly use EUR as the base currency and parse the ECB xml directly as first option. Best regards.

[2018-04-26 11:25] madisvain commented on #9
@ThunderbyteComputer thank you for reporting this. The issue has been resolved and a fix deployed.

[2018-04-26 11:25] #9 closed

[2018-04-29 09:51] randomish opened #12 "JPY base not working when symbols are specified"
This isn't working for me:
https://exchangeratesapi.io/api/latest?base=JPY&symbols=EUR,NOK

The equivalent URL used to work in the old fixer.io API.

[2018-05-01 12:18] #6 closed, assigned to nobody

[2018-05-01 12:39] madisvain commented on #12
@randomish the issue in question has been fixed. Sorry for the delay - I was in the middle of rewriting the service and deploying it to Heroku.

There will be a deploy to Heroku button also available shortly.

Please let me know if there is anything else I can do for you.

[2018-05-01 12:39] #12 closed

[2018-05-01 13:06] pine3ree commented on #6
Thanks @madisvain, I think that 8 decimals would probably have sufficed, but then I remember that magento supports up to 12. kind regards, maks.

[2018-05-01 15:16] pine3ree commented on #6
oh...i forgot...there is also this xml USD related rates list available at [Yahoo! Finance](https://finance.yahoo.com/webservice/v1/symbols/allcurrencies/quote)
with update timestamp for each conversion rate

[2018-05-01 16:57] madisvain commented on #6
Hei - did not know about it. And it support JSON also actually:
https://finance.yahoo.com/webservice/v1/symbols/allcurrencies/quote?format=json

No CORS support and I can not see an option for specifying any dates sadly. Maybe you know more? We could possibly support multiple sources.

[2018-05-01 18:33] pine3ree commented on #6
Hello @madisvain ,

I believe it can be done via YQL query language (see an example in magento source code https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Directory/Model/Currency/Import/YahooFinance.php)

[2018-05-30 03:31] soundasleep opened #15 "Thank you!"
This isn't an issue, more of a note to say thank you so much for creating this fork and hosting this free service!

[2018-05-30 03:31] #15 closed

[2018-05-30 07:03] madisvain commented on #15
@soundasleep no problem at all 👍 thanks for the good words

[2018-06-04 10:56] runslow917 opened #16 "not working when second symbol is EURO"
below apis isn't working:
[https://exchangeratesapi.io/api/latest?symbols=INR,EUR](url)
[https://exchangeratesapi.io/api/latest?symbols=USD,EUR](url)
[https://exchangeratesapi.io/api/latest?symbols=JPY,EUR](url)

however it works when base is not EURO
ex:
[https://exchangeratesapi.io/api/latest?symbols=JPY,EUR&base=USD](url)

please support base EURO as well.
Thanks in advance:)

[2018-06-05 05:57] PeterRed4091 commented on #16
I think EUR is the default base, so euro is supported.
The actual problem here is that checking for the rate of EUR-EUR doesn't output the value of ”1.0“.

[2018-06-05 08:32] JerryBels commented on #16
Well, if you require EUR as a symbol when having EUR base, your code has issues :)

[2018-06-06 15:13] tolgaergin commented on #15
a big thank you from me. I used fixer.io for my crypto application Mammon. I'm going to update my with your api and will mention you. Cheers

[2018-06-11 12:51] runslow917 commented on #16
@JerryBels , I could handle with that code but if thats the case then
[https://exchangeratesapi.io/api/latest?symbols=USD,INR&base=USD](url)
this api shouldn't return with "USD":1.0 as base is already mentioned as USD.
It makes sense if returned value contain both symbols even if base is same.

[2018-06-15 09:30] cjshaw1976 opened #18 "Dates Prior To 2008-08-28 returns Internal Server Error"
Maybe not the right place to mention this, but any dates prior to 2008-08-28 return an internal server error. I recall that it was supposed to work as far back as 1999.

[2018-06-15 12:01] madisvain commented on #18
@cjshaw1976 yes you are correct and this issue is now fixed - thank you for reporting this

[2018-06-15 12:01] #18 closed

[2018-08-07 16:01] ahmadawais opened #19 "PKR is missing!"
Love the service. But `PKR` currency is missing. Any chance you can add that?

[2018-08-14 13:17] acs-ferreira commented on #19
Only rates/currency's published at https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html are supported.

[2018-08-14 19:29] #19 closed

[2018-08-15 04:50] ahmadawais commented on #19
That's sad. Thank you.

[2018-08-23 23:07] oviliz opened #20 "Is this project dead now?"
Is not working anymore for me and the website says "Invalid website" :(
![screenshot from 2018-08-24 00-06-23](https://user-images.githubusercontent.com/73616/44556422-97fd5c00-a731-11e8-8941-b3581a98a33b.png)

[2018-08-23 23:18] acs-ferreira commented on #20
API is up and running: https://api.exchangeratesapi.io/latest?base=USD

The message "Invalid website" has nothing to see with the service, it is about the Live Chat Module miss-configured.

[2018-08-24 11:38] WingYn commented on #20
The endpoint changed from this one? https://exchangeratesapi.io/api/

[2018-08-24 17:56] brian-from-quantrocket commented on #20
I'm also seeing that https://exchangeratesapi.io/api/, which worked until yesterday, returns 404 as of today. Any chance you can post a deprecation warning to the README or website before removing an endpoint? Or maybe I missed the warning?

[2018-08-24 17:59] brian-from-quantrocket commented on #20
Better yet, any chance you could restore the earlier endpoint for a few weeks to allow time to update applications to the new endpoint?

[2018-08-24 18:07] Wilhelm1994 commented on #20
I have the same issue with 404 since yesterday at 1pm America/Eastern time.

[2018-08-24 21:04] WingYn commented on #20
The endpoint got changed, you can see it in the git commit history. I wonder why it just suddenly changed though.

[2018-08-25 00:58] chase-moskal commented on #20
to be extra clear,

**problem:** requests to the following api url have stopped working

- https://exchangeratesapi.io/api/latest

**solution:** point your application to this url instead

- https://api.exchangeratesapi.io/latest

[2018-09-10 16:27] LorrieMonaghan opened #22 "Latest rates stuck on 2018-09-06"
If I request the latest rates using https://api.exchangeratesapi.io/latest the API is only returning rates from the 2018-09-06 onward.

The same thing happens if I request historical data, I can get all the rates up until 2018-09-06 only. Any historical date requests post this date incorrectly return the rates for 2018-09-06.

[2018-09-10 16:29] acs-ferreira commented on #22
Maybe cache. Here on my own deployed instance (same code), i get rates from 2018-09-10.

![image](https://user-images.githubusercontent.com/12234510/45310772-81277980-b527-11e8-9cd2-4e00cab20de4.png)

[2018-09-11 10:51] kekridk commented on #22
I have the same issue. @madisvain - is this something you can look into, please? Are your servers running as expected?

[2018-09-11 10:52] tainmar commented on #22
I also have the same issue. I ended up deploying on Heroku (via the button on Readme). It works smoothly.

[2018-09-12 03:46] deefrawley commented on #22
I'm using Python requests (no caching module) and am also only getting results from Sep 6th. @tainmar are you saying since deploying on Heroku you are getting the latest data?

[2018-09-12 07:45] tainmar commented on #22
@deefrawley that is indeed what I am saying. **I am getting the latest price from my Heroku instance**.

Honestly, I am pretty sure that [https://exchangeratesapi.io](https://exchangeratesapi.io) has not the _exact_ same codebase as the repo here. That would explain the different API endpoint (subdomain vs subfolder).

Anyway, you should give a try to Heroku deployment : super easy (that was my fi

[2018-09-12 09:56] johamm commented on #22
I can confirm I'm getting the same issue.  Is there a chance that this will get fixed without deploying to Heroku?

[2018-09-13 15:35] MajorDisarray commented on #22
Checking in to say that I get the same issue, latest update 09-06

[2018-09-15 04:06] deefrawley commented on #22
Thanks @tainmar but a Heroku deployment is not what I'm after. I've given up on this API and am now grabbing the XML directly from the Euro bank and doing the currency conversions myself.

[2018-09-16 19:45] ravtakhar commented on #22
Same issue here everything was going great However, stuck at September 6th

[2018-09-17 07:36] madisvain commented on #22
As the issue has not been fixed I suggest also to use the https://frankfurter.app/. I handed over the exchangeratesapi.io project and it seems that it's not even running on the same codebase any more.

I feel deeply saddened by this and feel helpless to resolve the issue as I no longer have control over this project.

[2018-09-17 19:52] madisvain commented on #22
The issue will be resolved shortly and the service will continue to operate as intended.

It's possible now for me to monitor the service and provide fixes, updates to keep everything operational so we should have no more problems. I will update the state of this issue as soon as the updates have been deployed.

[2018-09-18 08:30] madisvain commented on #22
The updates have been deployed. I will continue monitoring the situation and take care of the service being available as intended.

[2018-09-18 08:30] #22 closed

[2018-09-18 08:31] madisvain commented on #20
This project is live and well. I have an agreement to keep the service running and monitor everything so there will be no more interruptions to this service.

[2018-09-18 08:31] #20 closed

[2018-09-19 23:11] gmmoraes opened #23 "Historic data"
Is there any way to get the exchange rates for an specifc date period?

By the URL below I am able to get the exchange rate for USD and BRL for the date of 2018-09-12, would there be any way to get these exchanges rate from 2018-09-12 until 2018-09-19 for example?

https://api.exchangeratesapi.io/2018-09-12?symbols=USD,BRL

[2018-09-21 08:46] madisvain commented on #23
@gmmoraes I think this would be possible - I can look into this feature for you over the weekend and give you feedback

[2018-09-21 11:58] gmmoraes commented on #23
@madisvain , thank you!

[2018-09-24 10:36] madisvain commented on #23
@gmmoraes I have implemented the history download for date ranges.

The current API is something like this:
https://api.exchangeratesapi.io/history?start_at=2018-01-01&end_at=2018-09-01&base=USD&symbols=ILS,JPY

The is preliminary. I do not expect big changes to the parameters. But we might have to limit the maximum period you can ask for to maybe one year.

What is your current use case for this

[2018-09-29 13:00] gmmoraes commented on #23
@madisvain Thank you and my apologies for the late reply.

The feature work perfectly!
My goal with the historical data is to get the exchange rate between US Dollar and Brazilian Real for the current month.(repeating every month)

[2018-10-03 23:44] gmmoraes commented on #23
@madisvain , would there be the possibility of orderning the results by their date (ascending or descending) and get only the final exchange rate for each month?

[2018-10-04 17:50] madisvain commented on #23
@gmmoraes ordering will be added - sorry this was my mistake it was not already there. Can you explain a bit about the final exchange rate for each month. What do you mean by that?

[2018-10-04 18:44] gmmoraes commented on #23
Thanks!
Instead of getting a response with the exchange rate for each day of the month, would there be the possibility of getting a response with the "average exchange rate" for each month of the timeframe or the exchange rate for the last day of each month?

[2018-10-08 13:25] vinayagasundar opened #24 "Not getting the recent the Exchange Rate in the latest API"

[2018-10-08 19:03] madisvain commented on #24
Currently it's the latest ECB provides.

[code]

Please not the details in the README:
_The reference rates are usually updated around 16:00 CET on every working day, except on TARGET closing days. They are based on a regular daily concertation procedure between central banks across Europe, which normally takes place at 14:15 CET._

[2018-10-08 19:03] #24 closed

[2018-10-08 20:34] madisvain commented on #23
The rates are ordered_by date ASC:
https://github.com/exchangeratesapi/exchangeratesapi/blob/master/exchangerates/app.py#L207

The README has been updated with the following request examples:
Get historical rates for a time period.

[code]

Limit results to specific exchange rates to save bandwidth with the symbols parameter.

[code]

Quote the historical rates against a different currency.

[code

[2018-10-08 20:34] #23 closed

[2018-10-22 13:53] eadmaster opened #25 "currency conversion"
is it possible to perform currency conversion like the old Google Finance API:
`https://www.google.com/finance/converter?a=1&from=EUR&to=USD`
?

[2018-10-23 08:18] madisvain commented on #25
@eadmaster you can perform currency conversions by changing the base currency.

https://api.exchangeratesapi.io/latest?base=EUR&symbols=USD

[2018-10-23 08:18] #25 closed

[2018-10-23 09:28] eadmaster commented on #25
ok, but can i pass an amount to convert to the API?

[2018-10-24 18:19] madisvain commented on #25
@eadmaster no the API is just for exchange rates. The calculations with amounts should be done in your own codebase.

[2018-11-18 07:56] Sweeper777 opened #26 "What about exchange rates on weekends?"
I am trying to display a graph of exchange rates of the past 30 days. I know there is no data on weekends but when I try to request something like:

https://api.exchangeratesapi.io/2018-11-18?base=USD&symbols=JPY

I get the rates for 2018-11-16.

So can I get this behaviour for requesting over a time period? For example:

https://api.exchangeratesapi.io/history?start_at=2018-10-20&end_at=2018-11-1

[2018-11-18 14:57] madisvain commented on #26
@Sweeper777 this is something you can also do within your own code but I do agree that based on the example you provided it would be logical if the API behaved in such a way as you described. I can look into this and get back to you on this.

[2018-11-20 12:20] AylinJrn opened #27 "Exchange rate for Ukrainian hryvnia UAH"
I was wondering if UAH would be added to the available rates?

Thanks in advance.

[2018-11-20 13:49] madisvain commented on #27
@AylinJrn I'm sorry but currently only the exchange rates from the European Central Bank are supported.

There is not a current plan to support any others but might be come something that we can consider in some time.

[2018-11-20 13:49] #27 closed

[2018-11-28 14:34] pwrnrd commented on #26
@madisvain In my opinion it doens't make sense to add this as the API uses the ECB reference rates as a source. The ECB doesn't publicize these reference rates in weekends (/non-working days?). If you would allow this functionality then you must also form an opinion on the exchange rate on any given date. E.g. what is the most accurate reflection of the true exchange rate on a Sunday if I load dat

[2018-12-02 09:37] madisvain commented on #26
Closing this issue based on @pwrnrd comment. The reasons pointed out are valid and we will not be implementing weekend rates at this point in time and will leave it up to the user to decide how to calculate them.

[2018-12-02 09:37] #26 closed

[2018-12-13 11:45] pwrnrd opened #28 "exchangeratesapi.io does not return updated data"
**Request**
https://api.exchangeratesapi.io/2018-12-12?base=EUR&symbols=USD

**Response**

`{"date":"2018-12-07","rates":{"USD":1.1371},"base":"EUR"}`

**Expected Behaviour**

`{"date":"2018-12-12","rates":{"USD":1.1346},"base":"EUR"}`

**Description**
The data does not seem to be updated since Friday (2018-12-07).

[2018-12-13 12:06] madisvain commented on #28
It's fixed.

It seems we have run out of disk space on our server. I will need to get log rotation into place and see what was piling up. Thank you for letting us know.

[2018-12-13 12:40] pwrnrd commented on #28
Thank you!

[2018-12-25 10:59] madisvain commented on #28
The issue has been resolved with log-rotate applied.

[2018-12-25 10:59] #28 closed

[2019-01-14 07:30] geosenna opened #29 "adding MUR (Mauritius ruppe) into the API"
Is this possible? :)

[2019-01-23 09:30] deasoft opened #30 "SSL issue"
[code]

[2019-01-23 09:59] madisvain commented on #30
Please review your setup because the SSL gets a A rating from SSL labs SSL testing.
<img width="1083" alt="screenshot 2019-01-23 11 41 15" src="https://user-images.githubusercontent.com/727994/51598469-45091a00-1f06-11e9-9373-8a86e41a1435.png">

https://www.ssllabs.com/ssltest/analyze.html?d=exchangeratesapi.io&latest

[2019-01-23 09:59] #30 closed

[2019-01-25 16:03] Castellari opened #31 "Exchange rates not up to date, stuck at 2019-01-23"
**Isue:**
Results seem to be stuck on 2019-01-23

**Request:**
https://api.exchangeratesapi.io/latest?base=EUR&symbols=USD

**Response:**
`{"rates":{"USD":1.1367},"base":"EUR","date":"2019-01-23"}`

**Expected response:**
`{"rates":{"USD":1.1397},"base":"EUR","date":"2019-01-25"}`

[2019-01-25 18:13] madisvain commented on #31
The issue is resolved. I will look into what caused this and will get this resolved. Thank you letting me know and I will do my best to keep these issues from not repeating.

[2019-01-25 18:13] #31 closed

[2019-02-23 21:38] NarayanB commented on #28
Hi,
Looks like it is happening again. The updated date hasn't changed, and is stuck at "2019-02-20"

[2019-02-23 21:39] NarayanB commented on #28
Example: https://api.exchangeratesapi.io/latest?base=USD
Result:
{"base":"USD","date":"2019-02-20","rates":{"ISK":119.6438017986,.....

[2019-02-23 21:42] NarayanB opened #33 "Exchange rates not up to date, stuck at 2019-02-20"
Hi,
Looks like the issue has surfaced again.
Query:   https://api.exchangeratesapi.io/latest?base=USD
Result:
{"base":"USD","date":"2019-02-20","rates":{"ISK":119.6438017986,

[2019-02-24 04:38] madisvain commented on #33
It's currently resolved but I will leave this issue open until I can check what went wrong.

[2019-02-24 04:41] madisvain commented on #28
Yes I resolved it for now and left the issue open until I check what happened.

[2019-03-17 13:46] BrunoQuaresma opened #34 "Currencies are different from Google"
When I try to get USD -> BRL the value always is different from the base value on Google. Is it an issue?

[2019-03-17 13:58] pwrnrd commented on #34
That depends on your application. The API exposes the ECB reference exchange rates. These reference rates are published on a daily basis. If your application requires exchange rate data on a higher interval (every hour/minute/etc.) this API might not be for you. However, if you're looking for a daily exchange rate and you can find yourself in the methodology that the ECB uses to determine the refe

[2019-03-21 09:48] LefterisJP opened #35 "Too many redirects when EUR is the base symbol"
Hello.

First of all thank you for this awesome service!

I noticed that starting from today if we do a GET request to `'https://api.exchangeratesapi.io/latest?base=EUR&symbols=USD'` it does not work, and you end up getting redirected forever.

On the other hand `'https://api.exchangeratesapi.io/latest?base=USD&symbols=EUR'` works fine.

[2019-03-25 09:18] johamm opened #36 "No new rates since 2019-03-20"
Looks like the same issue has arisen (surprisingly on the same day of the month as last time):

https://api.exchangeratesapi.io/latest?base=GBP

Says: "date":"2019-03-20"

[2019-03-25 09:32] madisvain commented on #36
@johamm the issue should currently be resolved

[2019-03-25 09:32] #36 closed

[2019-03-25 09:33] madisvain commented on #35
@LefterisJP currently you can just omit the base=EUR as EUR is the default base currency anyway.

[2019-03-25 09:55] johamm commented on #36
I can still see it saying 2019-03-20 - when should this update?

[2019-03-25 09:57] madisvain commented on #36
Current response from https://api.exchangeratesapi.io/latest?base=GBP. Please see if the request is somehow cached for you.

[code]

[2019-03-25 10:02] johamm commented on #36
If I open the URL in an incognito tab in my browser, I'm getting the same response (with the 2019-03-20 date).  If I add "&1" at the end of the URL, it changes to look like yours.  Again, this is all in incognito so there's no caching involved.

Also, the date that's on the response you've sent shows it's still 3 days out.

[2019-03-25 10:09] madisvain commented on #36
ECB does not release new exchange rates during the weekend so the latest rate is from the 22. thats correct. The rates for this week will come available in ~4 hours.

I attach a request for your reference with your exact URL without any additional parameters.
<img width="1103" alt="Screenshot 2019-03-25 12 07 44" src="https://user-images.githubusercontent.com/727994/54911284-cecd6780-4ef6-11e9-96a

[2019-03-25 10:30] johamm commented on #36
Sorry, didn't realise about the weekend bit!  As I can't see the correct data without putting the extra bit on the URL, I'll change my script to do that for now and hope it'll fix the issue on my end.

[2019-03-27 22:55] pagoda6644 commented on #35
The title is written wrong, if you read his issue, the redirecting problem comes up when USD is the base.

[2019-03-28 09:46] madisvain commented on #35
@LefterisJP @pagoda6644 but currently the link https://api.exchangeratesapi.io/latest?base=EUR&symbols=USD seems to be working without and redirection issues I think

[2019-03-28 09:46] #35 closed

[2019-03-28 09:46] #34 closed

[2019-03-28 09:46] #33 closed

[2019-03-28 10:39] LefterisJP commented on #35
@madisvain yes I tihnk it works fine now. When I reported the issue it was not.

[2019-04-05 09:09] vkaranat opened #37 "AED missing :("
Well not a bug, but can you also include AED please. The API is perfect for me other than the missing AED rates.
or is there any work around for it ?

[2019-04-07 17:40] madisvain commented on #37
@vkaranat we only support the currencies from European Central Bank available currencies

[2019-04-07 17:40] #37 closed

[2019-04-19 12:40] jonatasbaldin opened #38 "Inspired by this, I made the Exchange Rates GraphQL"
Hey there, how are you doing?

Inspired by the Exchange Rates API, I created the [Exchange Rates GraphQL](https://exchangeratesgraphql.deployeveryday.com/), using Go.

It follows the same principles:
- Getting data from the European Central bank
- Exposing access to the latest, specific date and history
- Free and Open Source!

I'd love if you could reference this app in your website as an alterna

[2019-04-21 16:14] agszigethy opened #39 "Requesting historical data for a given day, response doesn't include 'date'"
Hello, I wonder if it's intentional that when requesting historical data from this endpoint: https://api.exchangeratesapi.io/<yyyy-mm-dd>, the response only includes the 'base', and the 'rates', but not the 'date' it's belonging to.
I know I can figure it out, since I requested it, but if it was included in the response, that would be easier to consume and much appreciated.
And btw thanks for this

[2019-04-21 16:43] #39 closed

[2019-04-21 20:01] #38 closed

[2019-04-21 21:12] madisvain opened #40 "EUR as base currency issue"
I've been having a play with your Exchange Rate API - a great tool, thanks so much!

One thing I noticed is that there's an issue with EUR as the base currency where it doesn't have an exchange rate for itself.

I've been dealing with a small set of currencies, and for each I'm getting the latest exchange rates for all the currencies, I'm dealing with.

For example, my currencies are: GBP, USD, EU

[2019-04-25 18:31] abarke opened #42 "latest not working. browser returns too many redirects"
NOK https://api.exchangeratesapi.io/latest
OK https://api.exchangeratesapi.io/latest?symbols=USD,GBP

Status is not picking up this error: https://stats.uptimerobot.com/Q6z9gTYrY

[2019-04-25 19:34] madisvain commented on #42
@abarke can you please check your setup because I can see no redirect.

![Screenshot 2019-04-25 22 34 26](https://user-images.githubusercontent.com/727994/56763153-56ceb780-67aa-11e9-988b-e96e5a952f22.png)

[2019-04-25 19:34] #42 closed

[2019-04-25 19:40] abarke commented on #42
![image](https://user-images.githubusercontent.com/34715541/56763417-aad59e00-67a2-11e9-8b68-7e6761bbfd54.png)

[2019-04-25 19:42] abarke commented on #42
Same result on my phone (4G network)... too many redirects

[2019-04-26 04:26] aimensasi opened #43 "Getting Response to preflight request doesn't pass access control check when using during development"
I keep getting this error when trying to access your APIs while developing.

Access to XMLHttpRequest at 'https://api.exchangeratesapi.io/latest?base=MYR' from origin 'https://*.dev' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2019-05-03 10:28] gaetano78 commented on #42
Same here, but with base equal to USD. This is not working:

https://api.exchangeratesapi.io/latest?base=USD

[2019-05-09 14:59] swthate commented on #43
I am experiencing the same problem. Is it because the request is coming from a local/development domain ending with `*.test`?

[2019-05-09 15:09] swthate commented on #43
@aimensasi not sure if you ever got this sorted out, but in my axios defaults I had this header:

[code]

Removing that fixed the issue. Apparently it causes the preflight. I have a lot more to learn about these http headers!

[2019-05-16 15:16] DieMaking opened #44 "Redirect loop when base is PLN and symbol is USD"
This URL address causes redirect loop: https://api.exchangeratesapi.io/latest?base=PLN&symbols=USD
I haven't noticed problems with other symbols, but they can occur.

[2019-05-18 15:36] AndreasSchmid1988 commented on #44
also this url causes a redirect loop https://api.exchangeratesapi.io/latest?base=USD

Great API but please fix this, we are using this in production :)

[2019-05-20 13:04] lejoko commented on #44
Same thing here with ILS as base. As a temporary kludge, I noticed that asking for severa symbols or even for USD twice does work.
e.g.
- this doesn't work: https://api.exchangeratesapi.io/latest?base=PLN&symbols=USD
- this does work: https://api.exchangeratesapi.io/latest?base=PLN&symbols=USD,USD

[2019-05-20 13:09] DieMaking commented on #44
Thanks for noticing this temporary solution.

[2019-05-21 08:00] JerryBels opened #45 "Issue page not redirected properly"
Hi,

I was using https://api.exchangeratesapi.io/latest?base=ILS&symbols=USD but it doesn't work since yesterday.

Although if you invert the order of the arguments... https://api.exchangeratesapi.io/latest?symbols=USD&base=ILS it works!

What happened ?

[2019-05-21 12:12] ciarlystreet opened #46 "Cross-Origin Request Blocked"
Hi,
I keep getting this error when trying to access your APIs

[code]

My script:
[code]

[2019-05-22 07:13] JerryBels commented on #45
Well, it works again now. So I guess it was a temporary (weird) downtime.

[2019-05-25 09:05] madisvain commented on #46
@ciarlystreet I tested it with a CORS testing site: https://www.test-cors.org/

It seems everything is correct and it loads just fine. Can you please take a look at your implementation.
<img width="1600" alt="Screenshot 2019-05-25 12 02 36" src="https://user-images.githubusercontent.com/727994/58367213-53336b00-7ee5-11e9-9508-fd6eb7d963c9.png">

[2019-05-25 09:05] #46 closed

[2019-05-26 08:53] JerryBels commented on #45
Happening again today!

[2019-05-26 08:55] JerryBels commented on #45
Already reported in issue 44, didn't see, closing this.

[2019-05-26 08:55] #45 closed

[2019-05-26 08:56] JerryBels commented on #44
Alternatively inverting the order of arguments in the url works as well.

- Doesn't work: https://api.exchangeratesapi.io/latest?base=PLN&symbols=USD
- Works: https://api.exchangeratesapi.io/latest?symbols=USD&base=PLN

[2019-05-27 10:36] JasonXDDD opened #48 "Cannot search with TWD currency"

[2019-05-31 08:48] matthiasamberg commented on #44
https://api.exchangeratesapi.io/2019-01-29?base=EUR&symbols=JPY

[2019-06-12 22:18] MahtanSirfalas opened #49 "not working after upload to google play"
Hi everyone,

I used that awesome api for a part of my app. It is working well with usb wired device over android studio,

**When it comes to publish the app on google play, api is not working.**

I don't want to use 1000 request/month apis and i'm stucked, any suggestions welcome..!

[2019-06-16 17:30] HoLLy-HaCKeR commented on #44
Same happens with SEK: https://api.exchangeratesapi.io/latest?base=SEK&symbols=USD

[2019-06-19 14:45] fdionisi opened #51 "`/latest?base=USD` fails"
While other requests works (eg. https://api.exchangeratesapi.io/latest?base=CAD), `https://api.exchangeratesapi.io/latest?base=USD` shows "redirected you too many times" error.

Interestingly, `https://api.exchangeratesapi.io/2019-06-19?base=USD` works properly.

Sorry being so pragmatic.

[2019-06-19 15:28] #51 closed

[2019-06-19 15:28] #49 closed

[2019-06-19 15:29] #48 closed

[2019-06-19 15:37] julian-zehetmayr commented on #44
We have just deployed a fix for this issue. Please notify me in case you should be seeing this again.

[2019-06-20 07:30] JerryBels commented on #44
Ehm... Currently it still doesn't work :)

[2019-06-20 07:50] DieMaking commented on #44
It worked yesterday, today it's not working again. Weird.

[2019-06-20 20:45] Budski opened #52 "Missing dates when requesting historic data"
Hi, i'm having an issue where calling the historic data doesnt return all of the day between the two dates.

For example if i call this: https://api.exchangeratesapi.io/history?start_at=2018-02-02&end_at=2018-02-10&base=USD&symbols=GBP,EUR

It doesn't return all of the days between those two dates.

Am i missing something?

[2019-06-20 20:55] wenusch commented on #52
Afaik the API doesn't provide rate changes during the weekend. 2018-02-03 and 2018-02-04 is a weekend.

[2019-07-16 18:53] mojimi opened #53 "Doesn't gunicorn throttles sanic?"
Isn't Gunicorn a throttling factor when using Sanic? Since it isn't ASGI like Uvicorn or Hypercorn?

[2019-07-16 18:56] mojimi commented on #53
Nevermind, just saw it's actually uvicorn, sorry

[2019-07-16 18:56] #53 closed

[2019-07-26 08:09] PrimozRome opened #54 "Error: Method OPTIONS not allowed for URL /latest"
I am getting this error when calling:

[code]
Any ideas?

[2019-07-28 15:11] PrimozRome commented on #54
Actually the error is

`Access to XMLHttpRequest at 'https://api.exchangeratesapi.io/latest' from origin 'https://erp.dewesoft.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.
`
I am using Axios to make JavaScript Ajax request tot the API. It is the options request th

[2019-08-02 15:49] sebhanz opened #55 "Multiple base currencies"
Hi

Is there any chance I can Get output with two base currencies eg.
https://api.exchangeratesapi.io/latest?base=EUR,USD&symbols=GBP,GBP ?

[2019-08-14 12:53] technoknol commented on #46
@madisvain I'm using Axios in React, it's calling OPTIONS requests first. And there's an error. Any suggestions for this ?

[2019-08-24 18:47] DragonOsman opened #56 "Requesting Currency List Endpoint"
I'd really like it if I could request a list of currencies from the API itself.  I need this in my app because I want to populate two dropdown menus with the list of currencies: one for the base currency and the other for the currency to convert to.

[2019-09-04 14:08] jomarierafa commented on #16
same problem here

[2019-09-05 08:32] sureshvigneshbe opened #57 "Need to know the supporting currencies of the api.exchangeratesapi.io API."
Kindly provide the list of currencies supporting this API.

[2019-09-17 13:10] MarcelloTheArcane commented on #57
"CAD", "HKD", "ISK", "PHP", "DKK", "HUF", "CZK", "GBP", "RON", "SEK", "IDR", "INR", "BRL", "RUB", "HRK", "JPY", "THB", "CHF", "EUR", "MYR", "BGN", "TRY", "CNY", "NOK", "NZD", "ZAR", "USD", "MXN", "SGD", "AUD", "ILS", "KRW", "PLN"

[2019-09-17 13:10] MarcelloTheArcane commented on #56
Use `Object.keys(res.data.rates)`

[2019-09-30 03:46] Sir-J opened #59 "Does service work?"
Does service work?

[2019-09-30 11:44] madisvain commented on #59
@Sir-J why should it not work? Seems like everything is working https://stats.uptimerobot.com/Q6z9gTYrY

[2019-09-30 11:44] #59 closed

[2019-09-30 11:46] madisvain commented on #57
@MarcelloTheArcane thank you for the answer. Also the list of currencies on ECB website is correct.
https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html

[2019-09-30 11:46] #57 closed

[2019-09-30 11:47] madisvain commented on #56
@MarcelloTheArcane thank you very much for this answer.

Or you can also hardcode the currencies list from: https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html

[2019-09-30 11:47] #56 closed

[2019-09-30 11:47] madisvain commented on #55
@sebhanz sorry - this feature is currently not supported. I'll leave this ticket open as an idea for development.

[2019-09-30 11:48] #52 closed

[2019-10-12 13:43] royashgit opened #60 "Returns Wrong FX Rate GBP - EUR"
I am testing this with an Excel VBA Macro.

For GBP - EUR 31-Dec-2017 the API returns "1.00" instead of the correct FX Rate. Could you please verify this?

[2019-10-28 16:28] jesperbruunhansen opened #62 "Symbols are invalid for date"
Using the following request `GET https://api.exchangeratesapi.io/latest?base=EUR&symbols=USD,HKD,IDR,INR,MYR,SGD,JPY,CZK,AUD,EUR,SEK,GBP,NOK,PLN,DKK,BRL,CAD,ZAR,MXN,NZD,CNY,CHF` produces the following error:

[code]

I'm not quite sure what the error means? When leaving out the symbols, everything is working fine.

[2019-10-29 07:43] Psik628 opened #63 "Returned values are not gradually dated."
"2018-05-04": {
            "CAD": 1.541,
            "HKD": 9.3952,
            "ISK": 122.2,
            "PHP": 61.847,
            "DKK": 7.4492,
            "HUF": 313.87,
            "CZK": 25.503,
            "AUD": 1.5915,
            "RON": 4.662,
            "SEK": 10.5715,
            "IDR": 16729.91,
            "INR": 80.027,
            "BRL": 4.2446,
            "RUB": 75.4816,

[2019-10-29 11:22] madisvain commented on #63
@Psik628 can you attach the URL of the query you are making?

[2019-10-29 12:47] Psik628 commented on #63
@madisvain  https://api.exchangeratesapi.io/history?start_at=2018-01-01&end_at=2018-09-01

[2019-10-29 12:49] Psik628 commented on #63
It can be solved on the frontend but I just wanted to report it to you :)

[2019-10-30 11:01] Psik628 commented on #43
Ehm, CORS policy is problem in the backend, but I solved this in my own auth api by setting content type to text/plain instead of application/json

[2019-10-30 15:45] ghronkrepps opened #64 "Latest Rates are dated 1 day behind"
As of Tuesday 10/29 the date has been one day behind.
For example:
Rates on Tuesday 10/29 are dated 10/28.
Rates on Wednesday 10/30 are dated 10/29.

This is different than in the past and just started happening.

[2019-10-30 16:29] madisvain commented on #64
@ghronkrepps please note the ECB updates rates ~16-17. Currently it is already showing the 10/30 rates like they are supposed to.

I'm not sure about the exact timing the ECB published the rates today but this seems to be correct.

[2019-10-30 16:29] #64 closed

[2019-10-30 16:50] ghronkrepps commented on #64
I suppose European DST is affecting this since European DST happens 5 days before US. We have pulled the rates for months now at 15:30 and they have always been updated at that time. It wasn't until this week that they seem to be behind by one hour. I will have to adjust our time by an hour for this interim period.

[2019-10-31 11:32] KasparTr opened #65 "Round-off error on large numbers"
Rounds off large numbers with errors.

For example:
Base: IDR
"USD": 7.1e-5

There should be more decimal places for these currencies.

[2019-11-10 21:11] ash-jc-allen opened #66 "No weekend exchange rates?"
Hi,

I'm not entirely sure if this is an issue or just me not understanding something. I can't seem to get any exchange rates for dates on weekends. For example, using the following URL for 2019-11-10, I am returned the results for 2019-11-08:
```https://api.exchangeratesapi.io/2019-11-10?&base=EUR```

[code]

Thanks in advance :)

[2019-11-11 09:00] madisvain commented on #66
Hello - This API exposes the exchange rates from the European Central Bank. Those are reported only on workdays.

You can read more about it on https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html

[2019-11-11 09:00] #66 closed

[2019-12-09 05:58] bigear001 opened #67 "低价出售二线商用交易所wx: sxonem"
低价出售二线商用交易所wx: sxonem

[2019-12-09 11:54] mansres commented on #24
Reopen

Not getting the recent the Exchange Rate in the latest API

[2019-12-22 17:22] ToeFungi commented on #62
@jesperbruunhansen It just appears to be an issue with the `EUR` symbol

The following works as intended
[code]

[2019-12-24 11:51] JuliusSaik opened #70 "Can't switch between base currencies"
I'm not able to have multiple base currencies or set them through a spinner, is it even possible?

[2019-12-29 20:37] Spomky opened #71 "Exchange Rate Ordering"
Hi,

A year ago, @madisvain commented in https://github.com/exchangeratesapi/exchangeratesapi/issues/23#issuecomment-427970089 that the result is ordered by date ASC.

[With this request](https://api.exchangeratesapi.io/history?start_at=2018-01-01&end_at=2018-09-01&base=USD&symbols=ILS,JPY) (and any other request), the exchange rates are not ordered.

[2020-01-05 20:21] iAxel opened #73 "Please Added UZS currency"
Please Added UZS currency

Ty so much for this repository.

[2020-01-07 14:25] #70 closed

[2020-01-07 14:30] JuliusSaik opened #74 "Add euro as a selectable currency among the others"
I wrote code that can change base currencies with the ones you select from a spinner. What I want to do is select so I could convert let's say AUD to EUR but Eur being the base currency i cannot select it.
Could you add the euro rate to the API exchange rates if possible?

Thanks a lot for the API itself I really like it, it's very good and fast, good job!

[2020-01-09 09:43] roberts91 opened #75 "Wrong date is returned when looking at historical data"
Hello! I love this service, but I found something that looks like a bug. If this is intentional then an explanation would be highly appreciated! Maybe it's just me...

I compared the data to other exchange rate API's (fixer.io) and the other API's seemed to display the data as expected. Is this related to opening dates in the bank, or lack of historical data for given date prehaps?

https://api.ex

[2020-01-09 10:00] roberts91 commented on #75
Closing the issue. After some more digging I found the opening hours of ECB's TARGET, and it explained why this happens: https://www.ecb.europa.eu/home/contacts/working-hours/html/index.en.html

[2020-01-09 10:00] #75 closed

[2020-01-16 13:39] kasperhartwich opened #76 "Compatibility with fixer.io"
Hi. You say that you have compatibility with fixer.io, but you don't.

I found these issues with the `/latest` method:
- EUR is not included as a currency in the rates list.
- You do not include a success=true in the root.
- You do not a field with a unix timestamp

[2020-01-17 06:33] shyamsecond opened #77 "EUR to EUR not working"
https://api.exchangeratesapi.io/latest?base=EUR&symbols=EUR

[2020-01-20 09:55] ToeFungi opened #79 "Error messages and error codes"
Hi,

Is it possible to have some error codes included in the error responses from the API? This would allow for client side error handling in a much more in-depth manner. Allowing specific named errors to be thrown and handle appropriately without needing to rely on some weird regex queries to check string responses.

I have a PR open #78 which illustrates what I'm hoping for.

Thanks.

[2020-01-29 21:17] bosphoran opened #81 "Please add Afghani exchange rates"
We would like to see Afghani exchange rates

[2020-01-30 19:01] chatelao opened #82 "Swagger / OpenAPI description"
The API looks very nice to me.

Question:
- Is there a Swagger / OpenAPI specification available?

Remark:
- If there is a file describing all fields and response values, I could help to extract the OpenAPI definition.

[2020-02-04 03:52] #73 closed

[2020-02-06 12:58] peterlaws commented on #62
ARS (Argentine Peso) isn't supported?

Is there a list which currencies are supported?

[2020-02-07 08:16] CaddyDz commented on #46
I got around the issue with a proxy, you should still fix it tho
[code]

[2020-02-07 08:20] CaddyDz commented on #43
Thanks @swthate that worked for me

[2020-02-07 11:32] madisvain commented on #81
Sorry we only support the exchange rates provided by the European Central bank.

[2020-02-07 11:32] #81 closed

[2020-02-27 09:38] atomgomba opened #85 "Making sense of caching"
I'm trying to figure out the best caching strategy (to both make the least amount of requests and still provide fresh data to the user) for my Android client and the README states two seemingly contradictory things:

Could someone please clarify why does the server make a request in every hour while ECB publishes new data every 24 hours? Why could it be better than doing something more lazy, eg. p

[2020-03-05 17:37] JuliusSaik opened #86 "Display the currency in full name not the short version like Icelandic krona not ISK"

[2020-03-05 18:46] Spomky commented on #86
I am not sure this is a good idea. Most of the projects I manage are in French or Japanese and this feature will increase the response size for nothing.
Moreover, there are lots of libraries in almost all programming languages that can convert the names for you.

[2020-03-06 13:44] JuliusSaik commented on #86
hmm understood. If it's not too much trouble can you recommend a library for this sort of thing?

[2020-03-06 14:33] Spomky commented on #86
Yes sure. For the backend (PHP), we use the [`Currencies` class from `symfony/intl`](https://symfony.com/doc/current/components/intl.html#currencies) component:

[code]

For the frontend (JS), [`Numberformat`](https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/NumberFormat) from the Intl API (polyfill exists if [not supported by your customer browsers](https://caniuse.co

[2020-03-10 08:06] JuliusSaik commented on #86
Thanks a lot! What about java? I'm coding this in Android Studio.

[2020-03-10 15:06] Spomky commented on #86
I am sorry but I don't use Java.
I found [this resource](https://unicode-org.github.io/icu-docs/apidoc/released/icu4j/com/ibm/icu/util/Currency.html#getName%28java.util.Locale,%20int,%20boolean[]%29) that could be helpful

[2020-03-10 15:36] JuliusSaik commented on #86
Thank you! This will come in handy

[2020-03-12 12:40] ToeFungi commented on #79
Bump

@mandarvaze @jmrossy @madisvain @acs-ferreira

[2020-03-13 12:49] InfinitumForm opened #88 "Excange rate in the different currencies"
Is there a way to made exchange rate for the other currencies what are non listed? Like example RSD?

[2020-03-14 13:26] JuliusSaik commented on #74
fixed it by setting latest?base=USD so this way the USD is base and EUR is selectable(USD too)

[2020-03-14 13:26] #74 closed

[2020-03-14 13:42] JuliusSaik commented on #86
ok yeah doesnt work

[2020-03-14 14:46] JuliusSaik opened #89 "Where can I access this API's "rate" json file?"
I want to change the rate name from CAD to Canadian dollar. Im coding this in java and I can't do it in code externally so I want to do it internally.

[2020-03-23 15:52] phikret opened #90 "Retreiving rates for multiple dates"
Hi, is there an endpoint that can be used to retrieve rates for multiple dates, not only fo the date range? Something like

[code]

If not, I would suggest this as an improvement. Recently, I needed this scenario, but managed to achieve the desired by calling next endpoint:
[code]
where my start_at was the oldest date, and end_at was the most recent date, and then did some filtering in the code. H

[2020-04-02 22:55] payecards opened #91 "functional issue"
We dont receive any data from api , we get error for now api unavailable ? Let me know your answer thank you

[2020-04-15 01:19] arunaranatunga opened #92 "Deserialize into object"
Hi,

I am trying to deserialize the history records into an object. I created a class, based on

GET https://api.exchangeratesapi.io/latest HTTP/1.1

{
  "base": "EUR",
  "date": "2018-04-08",
  "rates": {
    "CAD": 1.565,
    "CHF": 1.1798,
    "GBP": 0.87295,
    "SEK": 10.2983,
    "EUR": 1.092,
    "USD": 1.2234,
    ...
  }
}

However I ma concern about https://api.exchangeratesapi.io/histor

[2020-04-20 09:27] Sudev-Tibil opened #93 "AED rates are missing in API"
Hi All,

**The rates for AED is missing. Can you say why ?**

I am trying to search the Current Currency rates using the following URL,

`https://api.exchangeratesapi.io/latest?base=USD`

I am getting results as

`{"rates":{"CAD":1.4069981584,"HKD":7.7505524862,"ISK":144.1068139963,"PHP":50.9162062615,"DKK":6.8695211786,"HUF":323.9502762431,"CZK":25.0119705341,"GBP":0.8009023941,"RON":4.4526703499

[2020-04-22 17:10] san616mofo opened #94 "UAH"
Hi. Need UAH: Ukrainian Hryvnia

[2020-05-01 12:48] adrian-kriegel commented on #93
I noticed that GHS is also missing.

[2020-05-08 08:12] gauss345 commented on #28
I'm having a similar issue, where be calls to , `https://api.exchangeratesapi.io/latest?base=USD` returns the same value, sometimes hours later. Is this an issue that will recur a lot, as we kind of depend on the accuracy of this value ?

[2020-05-21 13:39] cxlan opened #95 "Who added under VND exchange rate?"
Who added under VND exchange rate?

[2020-06-17 16:10] strotgen commented on #55
Hi! Are you open to a PR to add this enhancement?

[2020-07-17 21:27] MarksASP95 opened #96 "Can't access page or API. Is it under maintenance?"

[2020-07-20 08:17] kl1mm opened #97 "base=EUR&symbols=EUR != base=USD&symbols=USD"
Hello everybody,
I have a question about the behavior of the API, why does the request:
`https://api.exchangeratesapi.io/latest?base=EUR&symbols=EUR`

gives me an error and for all other requests with also the same currency in base and symbols e.g .:
`https://api.exchangeratesapi.io/latest?base=USD&symbols=USD`

i get a valid answer with the exchangerate = 1?

Is this a bug or do i miss something?

[2020-08-02 11:13] pawurb opened #98 "Zapier integration"
Hi. I'm using the API with Zapier for daily currency rates Slack notifications and though that more people could find it useful. I did not find another Zapier integration that provides similar features.

I've created an integration, it allows you to select a currency pair and get the current exchange rate:

<img width="928" alt="image" src="https://user-images.githubusercontent.com/1131944/8912169

[2020-08-03 09:37] eggman64 commented on #93
@adrian-kriegel @Sudev-Tibil the code uses this data source: https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html

[2020-08-27 07:19] csakisandor opened #99 "VND exchange rate"
Where is VND exchange rate? I see that ecb is not support vnd now but when we start to use these repo(2020 april) if i remember correctly vnd was added.

[2020-08-30 18:02] Numichi commented on #97
I think not scope. It makes sense logically, but usually a developer does not sent an unnecessary request.
The good thing is, if you know how it works, you can prepare for it. :D

Pseudocode:
`
return base == symbol ? 1 : call_http(base, symbol);
`

[2020-09-02 11:47] pal commented on #60
What URL are you testing with?

[2020-09-03 07:40] kseniyaDA opened #100 "Add VND currency"
Please add VND currency

[2020-09-12 23:05] tsafadi commented on #43
This issue is caused by the OPTIONS request that is sent by the browser. Please enable CORS for OPTIONS request, otherwise we cannot query this API by a lot of client side frameworks like Angular for example.

[2020-09-23 23:52] SelcouthTech opened #102 "CNY symbol not in database"
Hi, tried a get request using `symbols=CNY` and received response error 400 for invalid symbol. In the ECB data page, it's a valid symbol, could you please update back-end data? Code snippet, errors, and data source screenshot below for assistance. Hope this helps. Thanks!

[code]

<img width="643" alt="ECB Euro Foreign Exchange Reference Rates Screenshot" src="https://user-images.githubuserconten

[2020-10-08 03:58] SuperVentureStudio opened #103 "TWD currency not supported"
Hi

Would it be possible to support TWD (Taiwan) currency?

Thanks

[2020-10-08 15:54] vendion opened #104 "JMD not supported"
It seems that JMD (Jamaican Dollar) is currently not supported

[2020-10-21 06:42] finnmglas commented on #104
Hey, if you have a look at the [European Central Bank data](https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html), that is forwarded using this exchangerates API, you will see that the `JMD` is not listed there.

It seems **not the purpose of this API** to support currencies, but rather to convert the ECB data to a neat JSON format. Despite the

[2020-10-21 06:43] finnmglas commented on #103
This issue is very similar to #104

---

If you have a look at the [European Central Bank data](https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html), that is forwarded using this exchangerates API, you will see that the `TWD` is not listed there.

It seems **not the purpose of this API** to support currencies, but rather to convert the ECB dat

[2020-10-21 06:48] finnmglas commented on #100
This issue is very similar to #104 and #103
It also seems to be a duplicate of #99 which was requested before.

---

If you have a look at the [European Central Bank data](https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html), that is forwarded using this exchangerates API, you will see that the `VND` is not listed there.

It seems **not the pu

[2020-10-21 06:51] finnmglas commented on #99
This is kinda odd, but looking at [the ecb data](https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html), it is not supported right now. It, however, does not seem to be an issue that can be resolved by the exchangerates API. I suppose you'd have to contact the ECB to add it again.

[2020-10-21 06:53] finnmglas commented on #94
This issue is very similar to #104, #103, #99 ...

---

If you have a look at the [European Central Bank data](https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html), that is forwarded using this exchangerates API, you will see that the `UAH` is not listed there.

It seems **not the purpose of this API** to support currencies, but rather to conv

[2020-10-21 06:57] finnmglas commented on #93
This issue is very similar to #104, #100, #103, #94 et cetera (almost all issues on here ...)

---

This adds to @eggman64 's comment and suggests closing the issue:

If you have a look at the [European Central Bank data](https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html), that is forwarded using this exchangerates API, you will see that the

[2020-11-21 19:53] fawazahmed0 commented on #104
I created an API , it does has JMD, it can be access from here:
https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/jmd.json

The API is Free & No Rate Limits, with 150+ currencies, rates are updated daily

More info about API is available here:
https://github.com/fawazahmed0/currency-api

Thanks

[2020-11-21 19:57] fawazahmed0 commented on #103
I created an API , it does has TWD, it can be access from here:
https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/twd.json

The API is Free & No Rate Limits, with 150+ currencies, rates are updated daily

More info about API is available here:
https://github.com/fawazahmed0/currency-api

Thanks

[2020-11-21 19:59] fawazahmed0 commented on #100
@kseniyaDA I created an API , it does has VND, it can be access from here:
https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/vnd.json

The API is Free & No Rate Limits, with 150+ currencies, rates are updated daily

More info about API is available here:
https://github.com/fawazahmed0/currency-api

Thanks

[2020-11-21 20:01] fawazahmed0 commented on #99
@csakisandor  you might want to look at [here](https://github.com/exchangeratesapi/exchangeratesapi/issues/100#issuecomment-731629044)

I made an api , vnd can be accessed at here:
https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/vnd.json

Here is the repo with more info:
https://github.com/fawazahmed0/currency-api

[2020-11-21 20:06] fawazahmed0 commented on #94
@san616mofo I created an API , it does has UAH, it can be access from here:
https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/uah.json

The API is Free & No Rate Limits, with 150+ currencies, rates are updated daily

More info about API is available here:
https://github.com/fawazahmed0/currency-api

Thanks

[2020-11-21 20:09] fawazahmed0 commented on #93
adrian-kriegel @Sudev-Tibil I created an API , it does has AED & GHS, it can be access from here:
https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/aed.json
https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/ghs.json

The API is Free & No Rate Limits, with 150+ currencies, rates are updated daily

More info about API is available here:
https://github.co

[2020-11-21 20:17] fawazahmed0 commented on #81
@bosphoran  I created an API , it does has AFN, if you are interested, it can be access from here:
https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/afn.json

The API is Free & No Rate Limits, with 150+ currencies, rates are updated daily

More info about API is available here:
https://github.com/fawazahmed0/currency-api

Thanks

[2020-11-21 20:22] fawazahmed0 commented on #48
I created an API , it does has TWD, if you still interested, it can be access from here:
https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/twd.json

The API is Free & No Rate Limits, with 150+ currencies, rates are updated daily

More info about API is available here:
https://github.com/fawazahmed0/currency-api

Thanks

[2021-01-02 17:51] okyanusoz commented on #91
Can you post the full response?

[2021-01-03 13:07] avipars opened #108 "Not updated"
Last update is 12/31/2020

and today is 1/3/2021

[2021-01-04 08:54] micahmills commented on #108
It looks like the data source https://www.ecb.europa.eu/stats/eurofxref/eurofxref-hist-90d.xml isn't updated beyond 12/31/20. This might be because of the new year holiday and the weekend. I am hoping it updates later today, and the problem will be solved.

[2021-01-04 09:15] avipars commented on #108
Thanks ;)
Makes sense

On Mon, Jan 4, 2021, 10:54 micahmills <notifications@github.com> wrote:

[2021-01-04 16:38] micahmills commented on #108
It looks like it is working now.

[2021-01-14 11:57] okyanusoz commented on #96
Right now it is working
Can you try again?

[2021-01-14 22:58] MarksASP95 commented on #96
This is pretty old hehe, it worked afterwards.

[2021-01-14 22:58] #96 closed, assigned to nobody

[2021-01-15 13:21] MarceloCavalcanti21 opened #109 "BRL based conversion inconsistency"
Hi!

I'm using your API and really enjoying the result, by the way.

Just a detail that I realized is that when I use the BRL currency as the basis for conversion, the result is not accurate.

For example, with the base date 1/14/2021, the USD to BRL conversion is as follows:

1 USD = 5.269548004 BRL (https://api.exchangeratesapi.io/latest?base=USD)

However, I need my base to be the BRL. When I t

[2021-01-26 21:15] cliffgor opened #111 "KES not supported"
Hello,

I just found out about the API and I am really loving it.
Although I noticed that the Kenyan Shillings is not supported.
Looking forward to the feedback

[2021-01-30 14:55] ngosang commented on #108
![imagen](https://user-images.githubusercontent.com/10577978/106359516-a2b17780-6313-11eb-827e-f3a88b3fc9ad.png)

https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html

[2021-02-06 14:13] #108 closed, assigned to nobody

[2021-03-03 19:37] pushpanktugnawat opened #113 "Exchange Rate Historical data Ordering based on Date"
Hi, @madisvain  I feel the date ordering issue still persists. If you check the below URL you may see the dates are not even coming in any specific order.

[https://api.exchangeratesapi.io/history?base=INR&symbols=EUR&start_at=2020-03-29&end_at=2020-04-05]

Can you please help me with your kind suggestion on the same?

[2021-03-07 13:35] xiaopow opened #114 "New deployment on heroku is getting application error"
A fresh deployment of the app on heroku is showing Application Error. Running on heroku stack 20.

Server logs is showing a repeated error

[code]

[2021-03-08 19:03] ayoubkhan558-zz opened #115 "Currency Converter: Support PKR currency"
Please add Pakistani Rupee (sign: ₨; code: PKR)

![image](https://user-images.githubusercontent.com/20210961/110368309-b8464b00-7ffd-11eb-8edf-7d03826ace59.png)
![image](https://user-images.githubusercontent.com/20210961/110368384-d1e79280-7ffd-11eb-8bc4-600507381138.png)

[2021-03-09 23:58] rightaway commented on #97
This should be fixed so that cases where we have multiple `symbols` don't fail just because we're using EUR as `base`. Otherwise we need to have a special case in the code for when `base` is EUR but not for all other currencies.

[2021-03-13 23:52] tiagogiantini commented on #109
Hi Marcelo.
By chance, I saw this.
The API is correct because 1BRL worth around 18 cents US Dollar.
When you see a pair, like USDBRL or EURBRL, you will get the value that the first currency buys of the second one.
So 1 USD buys 5.26 BRL, 1 EUR buys 6.6421 BRL.
You can use BRL as Base, and then divide the values on other currencies by 1 to get BRL value.
Example:
1 BRL = 0.2254 CAD. How much 1CAD

[2021-03-14 13:36] MarceloCavalcanti21 commented on #109
Thank's!

[2021-03-14 13:36] #109 closed, assigned to nobody

[2021-03-17 11:55] idogrosberg commented on #114
Hey @xiaopow,
The same thing happens to us, do you found any workaround?

[2021-03-25 15:30] stephen147 opened #116 "Getting the current days conversion doesn't work"
`https://api.exchangeratesapi.io/2021-03-25` with todays date.

Will return:
`{"rates":{"CAD":1.4884,"HKD":9.1863,"ISK":150.1,"PHP":57.468,"DKK":7.436,"HUF":364.93,"CZK":26.206,"AUD":1.5532,"RON":4.888,"SEK":10.1635,"IDR":17082.0,"INR":85.8585,"BRL":6.5258,"RUB":90.2013,"HRK":7.573,"JPY":128.6,"THB":36.658,"CHF":1.1068,"SGD":1.5917,"PLN":4.628,"BGN":1.9558,"TRY":9.4009,"CNY":7.7133,"NOK":10.1563,"

[2021-03-31 14:57] mikolaj-mialkowski commented on #62
1 year later and EUR to EUR still throwing an error
https://api.exchangeratesapi.io/latest?base=EUR&symbols=EUR

[2021-04-01 09:16] dr5hn opened #117 "It now requires access_key"
Hi @madisvain

It was working fine a few days ago, pulling the rates without access_key.

All of a sudden it now requires "access_key" to access the API.
https://api.exchangeratesapi.io/history?base=GBP&symbols=USD,GBP,EUR,CAD,SEK

May I know from when this restriction is put? I wanted to explain it to one of my clients.

Thanks

[2021-04-01 09:26] CWRIGHT-95 commented on #117
this was working fine yesterday, i've just tested and i'm getting the same error.

[2021-04-01 09:33] madsem commented on #117
Seems it's now Apilayer and paid, 250 free requests per month and Fixer.io which is also Apilayer has 1K free requests....

[2021-04-01 10:19] josefblaha commented on #117
Has anyone seen any prior notice? This sudden change caught us unprepared today. I know it was a free service, but still a prior notice would be kind.

Btw it's not only about access key. The API also slightly changed (e.g. former `history` endpoint is now `timeseries`). On the other hand, now it supports many more currencies.

[2021-04-01 11:04] jamie-owen commented on #117
Maybe it's their version of an April Fool's joke 😄

[2021-04-01 11:55] ash-jc-allen commented on #117
Do we know if there are any other changes to the API since the move? I'm about to start making some updates to the Laravel package so it'd be cool if I could make all the changes at once :smile:

[2021-04-01 11:57] ghost commented on #117
In the meantime [https://exchangerate.host](https://exchangerate.host) is free and has the same JSON response that this API has, so its an easy fix.

[Example](https://api.exchangerate.host/latest)

[2021-04-01 12:03] dr5hn commented on #117
There's one more free service you can use: https://ratesapi.io/

It also has the same JSON response, just that the start date and end date for history API is a little different.

🍻

EDIT: 30-06-2021
As per https://github.com/exchangeratesapi/exchangeratesapi/issues/117#issuecomment-871362400
(ratesapi.io) seems to have been taken over by https://exchangeratesapi.io/, so no longer a free alternativ

[2021-04-01 12:11] DanielRivers commented on #117
I used the API for exchange rate conversion for international donations.  Currently this change is preventing donations from being made on a emergency appeal!

[2021-04-01 12:36] ghost commented on #117
@DanielRivers Don't rely on free stuff that isn't battle-tested for business critical processes.

Change the api for https://ratesapi.io/ or https://exchangerate.host/ , this one isn't coming back as far as I can see.

[2021-04-01 12:38] DanielRivers commented on #117
I have changed to exhangerate.host, been using these guys for a while, all seemed good, uptime and response. I am going to develop in redundancy here I think.  I have forked this repo, my bring inhouse and run own instance.

[2021-04-01 13:22] CollinHerber commented on #117
So lets get this straight so everybody understands what happened here.

apilayer bought exchangerates.io it would seem and overnight while business hours were done they locked everything behind a payment gate and made the free plan even worse than their main site, fixer.

Given that my production site was down, I'm going to look for an SLA'd service and after apilayer pulled this stunt I'll be pul

[2021-04-02 13:46] diego681 commented on #117
Hey everyone

https://github.com/hakanensari/frankfurter seems to be a drop in replacement and is open source.

[2021-04-02 16:44] VictorCamargo commented on #117
This is by far the worst service I have ever used in my life! Policies changes suddenly, affecting the functioning of my production website without ANY prior notice! And now, as if it were not enough, they removed the currency conversion functionality, in the free plan!

HORRIBLE, I recommend migrating to any other service! The problem is not to start charging, the whole problem is simply to do it

[2021-04-03 12:34] palamccc commented on #117
My guess is, the domain owner of exchangeratesapi.io  failed to renew the domain, and apilayer.com grabbed it.
Who.is records show that the domain is updated just a few days ago.
https://whois.domaintools.com/exchangeratesapi.io

[2021-04-03 12:40] palamccc commented on #117
https://api.exchangeratesapi.io/latest?base=USD also returns 200 status code, with error code in the body. :facepalm:

[2021-04-03 22:21] core-code commented on #117
this broke our purchase backend. no notice whatsoever...hmmm

[2021-04-04 19:00] arzzen commented on #117
Hi, I am the creator of the [exchangerate.host](https://exchangerate.host/#/) site, if you need to replace this API in a 1:1, you must add the GET parameter `source=ecb` (European Central Bank) when requesting api.exchangerate.host otherwise the forex data is displayed 😉

example:
`curl -XGET "https://api.exchangerate.host/latest?source=ecb"` or with a base support `curl -XGET "https://api.exchang

[2021-04-04 19:48] core-code commented on #117
we looked at using `exchangerate.host` as a replacement and while it worked fine in CURL, we did get 403 in python3 code. however `api.ratesapi.io` worked as a drop-in replacement just fine

[2021-04-04 20:03] arzzen commented on #117
@core-code can you send me the snippet code you use to query the API? I'll look at it, thank you.

[2021-04-04 21:24] core-code commented on #117
@arzzen typical. tried reproducing it today, now everything is fine :)

[2021-04-05 15:33] ghronkrepps commented on #117
We were using Fixer.io which was a free currency API that was bought or taken over by apilayer without warning and the one feature we needed (base switching) was behind a $10/month pay wall. So we switched to using exchange rates api and now as of April 1st another error in our process leads me to find out the same exact thing has happened to exchange rates api. Seems like they own three or four c

[2021-04-07 21:19] DashBarkHuss opened #118 "etag not sending"
I'm new to Etags so maybe I'm misunderstanding something but the docs say:

But when I send `GET`:`http://api.exchangeratesapi.io/v1/latest?access_key=myaccesskey` I don't see anything labeled `Etag` in the response headers or body.

Headers:
[image here](https://ibb.co/Vph5Tc6)

Body:
[code]

[2021-04-08 23:46] Adcreators commented on #28
I am using free account .It  redirects to http://api.exchangeratesapi.io/v1/latest?access_key ...and pops up currency conversion error....
![Screen Shot 2021-04-08 at 3 46 48 pm](https://user-images.githubusercontent.com/62326194/114109375-7c621680-9918-11eb-865b-574558f8ce89.png)

[2021-04-08 23:48] Adcreators opened #119 "Free account gives a currency conversion error"
I am using free account along with access key.It redirects to http://api.exchangeratesapi.io/v1/latest?access_key ...and pops up currency conversion error....
![Screen Shot 2021-04-08 at 3 46 48 pm](https://user-images.githubusercontent.com/62326194/114109464-a9aec480-9918-11eb-9a3d-a3e68d182414.png)

[2021-04-13 22:45] Marwa-Eltayeb commented on #117
Your apui does not support base @arzzen. Please make it support base to use it.

[2021-04-17 06:51] Officialstrike opened #120 "What happened?"

[2021-04-17 06:55] Officialstrike commented on #120
The claims made on the new website are obviously bogus, what happened? Seriously where the f*ck did this go wrong?
![image](https://user-images.githubusercontent.com/42299518/115104724-90f56e80-9f17-11eb-8676-157c8bdea8f1.png)

[2021-04-17 07:00] #120 closed, assigned to nobody

[2021-04-18 09:05] ShrirangPatil opened #121 "Change the exchange rate api in README.md"
Please change the exchange rate api to https://api.exchangerate.host/latest, it gives same json response as the previous one which now requires access key, as your project can be easily found when any one search for exchange rate apis in google, so if you change this it might help others looking for the same.

[2021-04-20 10:45] vojtasvoboda commented on #119
Free account is restricted only for some basis and I'm afraid that AUD and NZD are not allowed. So you have to upgrade to paid account.

[2021-04-20 10:46] vojtasvoboda commented on #119
Trying with you access key and works:

<img width="972" alt="Screenshot 2021-04-20 v 12 45 52" src="https://user-images.githubusercontent.com/374917/115383657-671d9f80-a1d6-11eb-930c-e82cb56ce39e.png">

[2021-04-20 10:58] vojtasvoboda commented on #117
@Marwa-Eltayeb Works for me https://api.exchangerate.host/latest?base=GBP&source=ecb

[2021-04-21 16:39] ninze commented on #117
If anyone is getting 429 errors on exchangerate.host (too many requests), here is another alternative:

https://www.frankfurter.app

I've been using them as a backup rate provider for 1.5 years and it has been reliable. API seems to be the same or very similar.

[2021-04-21 16:49] arzzen commented on #117
If someone gets a 429 error, please respect the rate limit, which is described in the response header, and cache your requests (at least for 6 hours). Thank you.

[2021-04-21 16:51] ninze commented on #117
I received a 429 on my very first request to the API :)

[2021-04-21 17:09] arzzen commented on #117
Thanks for the feedback, I appreciate it, I raised the rate limit, for now, I'll monitor it.

[2021-04-21 17:23] DanielRivers commented on #117
I call once per hour maximum and cache the response for 1 hour.  This works for my use case.

[2021-04-25 08:48] bitmorse commented on #121
Thanks Shrirang for this! I was wondering why the other API disappeared. Donated :)

[2021-04-27 11:13] cardanians opened #122 "Free > Paid program is not working"
We reached limit (120%) and made payment. After a day still service is writing "limit reached" but in admin is usage now 12%.

[2021-06-08 11:37] CMiksche commented on #117
I created a package which checks multiple API with this schema and outputs one which is online and has no need for a key: https://github.com/CMiksche/exchangerates-wrapper

[2021-06-08 12:04] ninze commented on #117
Even though I advertised Frankfurter app as being reliable, it also seems to be the slowest one. We are using 3 providers ATM: exchange rate host and currency layer usually respond in <0.3s, and frankfurter takes somewhere between 0.5 and 1.5 seconds. I noticed similar behavior from both EU and USA servers.

<img width="818" alt="exchange_rates" src="https://user-images.githubusercontent.com/71466

[2021-06-22 05:51] zyLiu-aftership opened #123 "Latest Rates Endpoint base currency error"
I've been having a play with your Exchange Rate API - a great tool, thanks so much!

One thing I noticed is that there's a problem that the base parameter cannot be modified.

If I use the default base currency EUR, the request is OK. But when I change my base parameter, for example, use the following request.

`http://api.exchangeratesapi.io/v1/latest?access_key=access_key&base=GBP&symbols=USD,AU

[2021-06-22 06:58] dropbeardan commented on #123
Are you perchance... using the free service?

They recently locked this as a paid feature IIRC

This took me by surprise too when it happened but have a look at the plans again since they have significantly changed.

[2021-06-23 10:09] #123 closed, assigned to nobody

[2021-06-23 10:17] zyLiu-aftership commented on #123
@dropbeardan Use of the free account, is my problem, thank you for your reply.

[2021-06-29 16:04] jgillard opened #124 "HTTP 520 errors today"
I've been seeing this error code returned from the API with an HTML body containing the message

`api.exchangeratesapi.io | 520: Web server is returning an unknown error`

The status page for this service is also showing issues: https://status.exchangeratesapi.io/

Is this being investigated?

[2021-06-30 06:17] drew-plu commented on #124
Seeing the same thing. My payments site is down.

[2021-06-30 07:12] dmytrohusiev commented on #124
@madisvain the service is totally down.
API returns a 520 status code for at least the last 18 hours.

[2021-06-30 07:13] WayneBrummer commented on #124
it was down nearly 100% on the 29th.

[2021-06-30 07:14] dmytrohusiev commented on #124
https://twitter.com/apilayer/status/1409983480700669956

[2021-06-30 07:15] drew-plu commented on #124
Just implemented a manual exchange rate converter for major currencies for when it fails.

[2021-06-30 08:26] yogeshphatangare commented on #124
Back on track, Working fine now.

[2021-06-30 12:32] npirlot commented on #117
Note the above (ratesapi.io) seems to have been taken over by https://exchangeratesapi.io/, so no longer a free alternative 😞

[2021-06-30 16:36] dr5hn commented on #117
It looks like there's a good opportunity to make some gigs by cloning and hosting this repo and make it popular and get taken over by them.

[2021-07-29 11:11] emperorjoker commented on #117
You can try Fer (https://fer.ee)

[2021-11-22 22:22] madisvain commented on #117
I'm seeing this thread way too late. Exchangeratesapi.io was sold to Apilayer quite some time ago.

I was promised it will stay free and open to the public.

I'm sorry it ended this way without any heads up.

[2022-02-03 10:00] oviliz commented on #20
@madisvain is this project still going? Asking simply because the last commit was 2 years ago.

[2022-02-03 10:03] lucasRolff commented on #20
@oviliz exchangeratesapi.io got acquired out of the blue by apilayer.

For the codebase itself, I'm not sure what you expect to be committed. The ECB XML continues to be the same.

[2022-02-05 11:35] madisvain commented on #20
Hello @oviliz and @lucasRolff

Yes thats true - the agreement was to keep the service free and running after the acquirement by apilayer but as it seems it's been converted to a paid solution.

As I still needed a solution to provide my store visitors with geolocation & currencies then I'm currently running a similar API (which will never be sold!). You can check it out and I'm pretty sure it will

[2022-02-05 13:23] lucasRolff commented on #20
I personally ended up building my own, which is fully geo-replicated in 15 locations 😆  I don't trust "free" products, since we've seen what happened already once.

[2022-02-23 10:52] traitrani opened #125 "How to get the closed rate of the day before ?"
Hello,

I am using the paid membership and getting the rate with the date of yesterday, am I receiving the rate of the day before as defined on the European Central Bank ?

For example, if I want to get the EUR-RON rate of yesterday, a get / 2022-02-22 will give me the answer **4,9464** ?

I don't want to pay if, at the end, I don't have the correct use of the API.

Thanks in advance.

Kind regard

[2022-02-23 16:03] lucasRolff commented on #125
Yes, you'll receive the rate for yesterday when calling `/2022-02-22`. You can easily verify it using the free tier as well.

Keep in mind, there's multiple free services available still, even after exchangeratesapi.io got acquired.

E.g. my own version would give you the following response: https://exchangeapi.io/api/2022-02-22 (The service is actively in use by quite a few companies, and it's fr

[2022-02-28 08:23] Pargat98 opened #126 "Missing State"
I was creating a free account then i came across this issue where in the state section, my state is missing. I selected India as in country but in state 'Delhi' is not there.

Thank you